<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexa Boutique</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-hexashop.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/lightbox.css')}}">
    
    </head>
    
    <body>
     
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{ url_for('index')}}" class="logo">
                            <img src="{{url_for('static',filename='images/logo.png')}}">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{ url_for('index')}}" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('user_acc')}}">Dashboard</a></li>
                            <li><a href="{{ url_for('about')}}">About Us</a></li>
                            <li><a href="{{ url_for('products')}}">Products</a></li>
                            <li><a href="{{ url_for('contact')}}">Contact Us</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="section1" id="women">
                          <form action="/user_cat" method="POST">
                            <div class="wrapper">
                            <div class="container1">
                                <input type="checkbox" id="dessert-1" name="i1" value="Traditional" style="margin-left: 8%;"/>
                                <label for="dessert-1">
                                <img src="{{url_for('static', filename='images/i1.jpg')}}" style="height: 400px; width: 400px;"/>
                                <p style="margin-top: 2%; margin-left: 40%">Traditional</p>
                                </label>
                                <input type="checkbox" id="dessert-2" name="i1" value="Party Wear" style="margin-left:25%"/>
                                <label for="dessert-2">
                                <img src="{{url_for('static', filename='images/i2.jpg')}}" style="height: 400px; width: 400px" />
                                <p style="margin-top: 2%; margin-left: 40%">Party wear</p>
                                </label>
                            </div><br><br>
                            <div class="container1">
                                <input type="checkbox" id="dessert-3" name="i1" value="Office Wear" style="margin-left: 8%;"/>
                                <label for="dessert-3">
                                <img src="{{url_for('static', filename='images/i3.jpg')}}" style="height: 400px; width: 400px"/>
                                <p style="margin-top: 2%; margin-left: 40%">Office wear</p>
                                </label>
                                <input type="checkbox" id="dessert-4" name="i1" value="Casual Wear" style=" margin-left:25%"/>
                                <label for="dessert-4">
                                <img src="{{url_for('static', filename='images/i4.jpg')}}" style="height: 400px; width: 400px"/>
                                <p style="margin-top: 2%; margin-left: 40%">Casual wear</p>
                                </label>
                            </div>
                            </div><br><br>
                            <input type="submit" class="btn_s">
                        </form>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="{{ url_for('static', filename='images/white-logo.png') }}" alt="">
                        </div>
                        <ul>
                            <li><a href="#">201, shadawal apt., mahadev nagar, boisar</a></li>
                            <li><a href="#">hexashop@company.com</a></li>
                            <li><a href="#">+91-9242424240</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="{{ url_for('products')}}">Women’s Garments</a></li>
                        <li><a href="{{ url_for('shoe_print')}}">Shoes</a></li>
                        <li><a href="{{ url_for('tshirt_print')}}">T Shirt</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="{{ url_for('index')}}">Homepage</a></li>
                        <li><a href="{{ url_for('about')}}">About Us</a></li>
                        <!-- <li><a href="#">Help</a></li> -->
                        <li><a href="{{ url_for('contact')}}">Contact Us</a></li>
                    </ul>
                </div>
                <!-- <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Order Status</a></li>
                    </ul>
                </div> -->
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved. 
                        
                        <!-- <br>Design: <a href="#" title="free css templates">TemplateMo</a> -->

                        <br>Distributed By: <a href="#">Pragati Jagtap</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <!-- <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/accordions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imgfix.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/slick.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/lightbox.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/isotope.js') }}"></script> 
    
    <!-- Global Init -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>